Home work Question number 7
Find the count , mean , std deviation, min , max, 25 percentile, 50 percentile and 75 percentile of numeric features

In [1]:
import os

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import csv
import sklearn 
import graphviz

In [ ]:
titan=pd.read_csv('train.csv')
titantest=pd.read_csv('test.csv')
np.where(pd.isnull(titan))
np.where(pd.isnull(titantest))
titantest.describe()

In [ ]:
print(titan)
titan.isnull().sum()
titan.notnull().sum()

In [ ]:
titan.head(10)
titantest.isnull().sum()
titan.head(2)

In [ ]:
titan.describe()

In [ ]:
titan.dtypes

In [ ]:
titan.Survived.value_counts()

In [ ]:
titan.Sex.value_counts()

In [ ]:
cols=['Name','Sex','Ticket','Cabin','Embarked']

In [ ]:
titan.Pclass.value_counts()

In [ ]:
titan.Sex.value_counts()

In [ ]:
titan.Embarked.value_counts()

In [ ]:
titan.Survived.value_counts()

In [ ]:
list(set(titan.Name))

In [ ]:
titan.Name.nunique()

In [ ]:
list(set(titan.Sex))

In [ ]:
titan.Ticket.nunique()

In [ ]:
list(set(titan.Cabin))

In [ ]:
titan.Cabin.nunique()

In [ ]:
titan.Embarked.nunique()

In [ ]:
titan.Embarked.unique()

In [ ]:
list(set(titan.Embarked))

In [ ]:
titan.Embarked.value_counts()

In [ ]:
titan.Sex.value_counts()

In [ ]:
titan.Cabin.value_counts()

In [ ]:
titan.Ticket.value_counts()

In [ ]:
titan.Ticket.mode()

In [ ]:
titan.Cabin.mode()

In [ ]:
titan.Embarked.mode()

In [ ]:
titan.Pclass.value_counts()

In [ ]:
titan.Sex.value_counts()

In [ ]:
titan.Sex.count()

In [ ]:
titan.Embarked.count()

In [ ]:
titan.Embarked.value_counts()

In [ ]:
titan.Survived.count()

In [ ]:
titan.Survived.value_counts()

In [ ]:
titan.head(10)

In [ ]:
titan1=titan[titan.Pclass==1]
titan2=titan[titan.Pclass==2]
titan3=titan[titan.Pclass==3]

In [ ]:
print(titan1)

In [ ]:
titan1.corr(method='pearson')

In [ ]:
print(titan1)

In [ ]:
sns.barplot(x='Pclass', y='Survived', data=titan)

In [ ]:
titan1.Survived.value_counts()

In [ ]:
p1surv=(136/(136+80))
print(p1surv)

In [ ]:
sns.barplot(x='Sex', y='Survived', data=titan)

In [ ]:
titan.hist("Survived", by="Sex",figsize = [10,2])

In [ ]:
titan.hist("Age",by = ["Survived"])

In [ ]:
titan.hist("Age",by = ["Survived","Sex"])

In [ ]:
titan.hist("Age",by = ["Survived","Pclass"],figsize = [10,7])

In [ ]:
titan.hist("Survived",by = ["Pclass"],figsize = [10,7])

In [ ]:
titan.hist("Age",by = ["Pclass"],figsize = [10,7])

In [ ]:
sns.barplot(x='Pclass', y='Survived', data=titan)

In [ ]:
sns.barplot(x='Pclass', y='Age', data=titan)

In [ ]:
sns.barplot(x='Survived', y='Fare', data=titan,alpha=0.5)

In [ ]:
titan.hist("Fare",by = ["Embarked","Survived","Sex"],figsize = [10,9])

In [ ]:
sns.barplot(x='Survived', y='Fare', data=titan,ci=None)

In [ ]:
graph = sns.FacetGrid(titan, row='Embarked', col='Survived')
graph.map(sns.barplot, 'Sex', 'Fare', alpha=.5,ci=None,order=['female','male'])
graph.add_legend()

In [ ]:
titan.Ticket.count()

In [ ]:
titan.Ticket.nunique()

In [ ]:
titan=titan.drop(['Ticket'],axis=1)
titantest=titantest.drop(['Ticket'],axis=1)

In [ ]:
titan.shape

In [ ]:
titan.Cabin.isnull().sum()

In [ ]:
titan=titan.drop(['Cabin'],axis=1)
titantest=titantest.drop(['Cabin'],axis=1)

In [ ]:
titan.shape

In [ ]:
titan.Sex = titan.Sex.map( {'female': 1, 'male': 0} ).astype(int)

In [ ]:
titan.head(2)

In [ ]:
titan.Embarked.value_counts()

In [ ]:
titan.Embarked.count()

In [ ]:
titan.Embarked.fillna("S")

In [ ]:
titan.Embarked.value_counts()

In [ ]:
titan.Embarked.count()

In [ ]:
titan.Fare.mode()

In [ ]:
titan.Fare.fillna(8.05)

In [ ]:
titan.Fare

In [ ]:
from sklearn.impute import KNNImputer

In [ ]:
def convert_num(x):
    if x >= -(0.0001) and x <= 7.91:
        return 0
    elif x > 7.91 and x <= 14.454:
        return 1
    elif x > 14.454 and x <= 31.0:
        return 2
    elif x > 14.454 and x <= 512.329:
        return 3

In [ ]:
titan.Fare.apply(convert_num)

In [ ]:
titan.Fare.isnull().sum()

In [ ]:
yi=titan.Age.values
yi=yi.reshape(-1,1)
imputer = KNNImputer(n_neighbors=5)
ynew=imputer.fit_transform(yi)

In [ ]:
titan.head(5)
ynew

In [ ]:
pd.DataFrame(ynew).shape
for i, x in enumerate(yi):
    print( str(yi[i][0]) + " : "+ str(ynew[i][0]))

In [ ]:
titan.shape

In [ ]:
titan= pd.concat([pd.DataFrame(ynew),titan],axis=1)

In [ ]:
titan=titan.drop(['Age'],axis=1)

In [ ]:
titan.rename(columns={0:'Age'},inplace=True)

In [ ]:
np.sum(titan.Age == np.nan)

In [ ]:
titan.Age

In [ ]:
titan.head(2)

In [ ]:
titan.Age

In [ ]:
titan.head(2)

In [ ]:
titan.Fare.apply(convert_num)

In [ ]:
titan.head(2)

In [ ]:
titan.Fare

In [ ]:
titan.Fare=titan.Fare.apply(convert_num)

In [ ]:
titan.Fare

In [ ]:
titan.head()

In [ ]:
titan.shape

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.feature_selection import SelectKBest, chi2, f_classif
from io import StringIO
import sklearn.tree as tree


from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [ ]:
titantest.head(2)

In [ ]:
titantest.Fare=titantest.Fare.apply(convert_num)

In [ ]:
titantest.Fare

In [ ]:
titan

In [ ]:
titantest

In [ ]:
titan = titan.drop(['Name','Embarked'], axis=1)

In [ ]:
titan

In [ ]:
y= titan["Survived"]

In [ ]:
titan = titan.drop(["Survived"], axis=1)

In [ ]:
x = titan

In [ ]:
x

In [ ]:
y

In [ ]:
titan.isnull().sum()

In [ ]:
titantest.Fare

In [ ]:
titan['Fare'] = titan['Fare'].fillna(1)

In [ ]:
titan.isnull().sum()

In [ ]:
ex = ExtraTreesClassifier()
ex.fit(x, y)

In [ ]:
feat_importances = pd.Series(ex.feature_importances_, index=x.columns)
feat_importances.nlargest(7).plot(kind='bar')
plt.show()

In [ ]:

titan.head(2)

In [ ]:
titan = titan.drop(['Fare','Parch', 'SibSp'], axis=1)

In [ ]:
x=titan

In [ ]:
x

In [ ]:
y

In [ ]:
dtree = DecisionTreeClassifier(criterion='gini',random_state=1, max_depth=3)
dtree.fit(x, y)
dtree.score(x, y)

In [ ]:
np.mean(cross_val_score(dtree,x,y,cv=5))

In [ ]:
rforest = RandomForestClassifier(n_estimators=100, max_depth=3)
rforest.fit(x, y)
rforest.score(x, y)

In [ ]:
np.mean(cross_val_score(rforest,x,y,cv=5))

In [ ]:
import os
#os.environ["PATH"] += os.pathsep + 'C:/Users/kurie/anaconda3/Lib/site-packages/graphviz'

feature_names = x.columns
dot_data = tree.export_graphviz(dtree, out_file=None, filled=True, rounded=True,
 feature_names=feature_names,
 class_names=["Not Survived","Survived"])
graph = graphviz.Source(dot_data)
graph.render('./table_4_2.gv', view=True)